In [1]:
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score, precision_score, recall_score, f1_score
import pickle
from catboost import CatBoostClassifier

from util import *

In [2]:
sale_mapping = pd.read_parquet("data/account_sale_mapping.snappy.parquet")
sale = pd.read_parquet("data/account_sale.snappy.parquet")

In [3]:
sale_mapping.head()

,account_sale_id,account_no,status,update_time,msisdn,viettel_bank_code,channel_type_id,mobile_id,mapping_type,merchant_code,updated_date,update_user
0,3614,8100111788007,0,2016-02-19 01:29:45,000170a6bdf433d69270,MB,10,2382403,1,None,NaT,None
1,3618,9990191675005,0,2016-02-19 01:30:18,0001c5ca114668a7efef,MB,10,612314,1,None,NaT,None
2,3620,9990191586002,0,2016-02-19 01:30:33,0001d938f1b2b3feaba4,MB,None,611920,None,None,NaT,None
3,3642,9990122300903,0,2016-02-19 01:30:54,0001b1f086739dd98b23,MB,10,2376756,1,None,NaT,None
4,3644,9990121946206,0,2016-02-19 03:57:40,000199f1d50f9a875272,MB,None,2322080,None,None,NaT,None

In [4]:
sale.head()

,agent_account_sale_id,account_sale_id,shop_code,staff_code,sale_status,payment_status,phone,sale_channel_name,province_code_im,par_shop_code,shop_path,sale_name,agent_status,update_time,co_staff_code,channel_type_id
0,63,66,1000131100,1000131100_00498_CTV,1,4,0001f8dc81768d875bd3,trần quang mai,H321,11264,_7281_7282_11264_15621,CHTT Nguyễn Trãi - Hưng Yên,1,2016-03-11 16:16:50,None,None
1,81,82,1000131100,1000131100_00500_CTV,1,4,00011767687493f41890,phạm như hải,H321,11264,_7281_7282_11264_15621,CHTT Nguyễn Trãi - Hưng Yên,1,2016-03-11 16:16:50,None,None
2,82,84,1000131100,1001031100_00159_CTV,1,4,0001cb5d56c00d346c54,Nguyễn Văn Tiến,H321,11264,_7281_7282_11264_15621,CHTT Nguyễn Trãi - Hưng Yên,1,2016-03-11 16:16:50,None,None
3,64,68,1000231100,1000231100_00170_CTV,1,4,0001debaf0089fb5f016,vũ thị hoàng anh,H321,11264,_7281_7282_11264_15623,CHTT Phố Nối - Hưng Yên,1,2016-03-11 16:16:50,None,None
4,65,70,1000231100,1000231100_00271_CTV,1,4,00014fa7f1267fe98670,Phạm Hữu Đoan,H321,11264,_7281_7282_11264_15623,CHTT Phố Nối - Hưng Yên,1,2016-03-11 16:16:50,None,None